<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Admin</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
    <script src="../js/myscript.js"></script>
</head>

<body>
        <%- include('header'); %>
    <form action="/addUserProcess" method="post" class="admin_page">
        <div class="manage_list">
            <div class="add_form">
                <div class="add_input">
                    <h1>Create User</h1>
                    <input type="text" id="username" name="username" placeholder="Username" required="required">
                    <input type="text" id="password" name="password" placeholder="Password" required="required">
                    <div class="add_input_radio">
                        <p>Role</p>
                        <label>
                            <input type="radio" name="role" value="admin">
                            <span>Admin</span>
                        </label>
                        <label>
                            <input type="radio" name="role" value="user" checked="checked">
                            <span>User</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="manage_function">
            <a href="#" onclick="goBack()" class="manage_add">
                <i class="material-icons">arrow_back</i>
                <div class="manage_function_text">
                    <h2>Back</h2>
                    <p>Go Back</p>
                </div>
            </a>
            <button type="submit" class="manage_add">
                <i class="material-icons">save</i>
                <div class="manage_function_text">
                    <h2>Save</h2>
                    <p>Save User</p>
                </div>
            </button>
        </div>
    </form>

    <%- include('../signOut.ejs') %>
</body>

</html>