<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Admin</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
    <script src="../../js/myscript.js"></script>
</head>

<body>
    <%- include('header'); %>
        <form action="/updateCommentProcess/<%= comment._id %>" method="post" class="admin_page">
            <div class="manage_list">
                <div class="add_form">
                    <div class="add_input">
                        <h1>Edit Comment</h1>
                        
                        <input type="text" id="content" value="<%= comment.content %>" name="content">

                    </div>
                </div>
            </div>
            <div class="manage_function">
                <a href="#" onclick="goBack()" class="manage_add">
                    <i class="material-icons">arrow_back</i>
                    <div class="manage_function_text">
                        <h2>Back</h2>
                        <p>Go Back</p>
                    </div>
                </a>
                <button type="submit" class="manage_add">
                    <i class="material-icons">save</i>
                    <div class="manage_function_text">
                        <h2>Save</h2>
                        <p>Save Comment</p>
                    </div>
                </button>
            </div>
        </form>

        <%- include('../signOut.ejs') %>
</body>

</html>