<header class="header" style="box-shadow: none;">
    <div class="header-logo" onclick="location.href='/'">
    </div>

    <div class="header-menu">
        <a href="/admin/product">Product</a>
        <a href="/admin/user">User</a>
        <a href="/admin/transaction">Transaction</a>
        <a href="/admin/comment">Comment</a>
        <a href="/admin/cart">Cart</a>
    </div>

    <!-- <div class="header-feature">
        <div class="header-feature-search">
            <form action="">
                <input type="text" placeholder="Search">
            </form>
            <i class="material-icons">search</i>
        </div>
        <div class="header-feature-button">
            <i class="material-icons" onclick="location.href='/admin/cart';">shopping_cart</i>
        </div>
        
    </div> -->
    <div style="width: 20%; display: flex; justify-content: end;">
        <div class="header-feature-button" onmouseover="sign_out()" onmouseout="sign_out_move()">
            <i class="material-icons" onclick="location.href='/login';">account_circle</i>
        </div>
    </div>

</header>