<thead>
    <tr>
        <th colspan="2">Search</th>
        <th>Add</th>
    </tr>
</thead>
<tbody>
    <% for( let i=0; i < product.length; i++ ) { %>
        <tr>
            <td class="productManageTd1">
                <div class="producttManageTd1Cover" style="background-image: url('<%= product[i].image[0] %>');"></div>
                <%= product[i].name %>
            </td>
            <td class="manageDataContainer">
                <div class="manageData"><span>TYPE</span><%= product[i].type %></div>
                <div class="manageData"><span>PRICE</span>$ <%= product[i].price %></div>
            </td>
            <td><i class="material-icons">arrow_forward_ios</i></td>
        </tr>
    <% } %>
</tbody>