<thead>
    <tr>
        <th colspan="2">Search</th>
        <th>Add</th>
    </tr>
</thead>
<tbody>
    <% for( let i=0; i < user.length; i++ ) { %>
        <tr>
            <td class="userManageTd1">
                <div class="userManageTd1Avatar" style="background-image: url('<%= user[i].avatar %>');"></div>
                <%= user[i].username %>
            </td>
            <td class="manageDataContainer">
                <div class="manageData" style="text-transform: none;"><span style="text-transform: uppercase;">Email</span><%= user[i].email %></div>
                <div class="manageData"><span>Created At</span><%= user[i].createdAt %></div>
            </td>
            <td><i class="material-icons">arrow_forward_ios</i></td>
        </tr>
    <% } %>
</tbody>