<thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    <% for( let i=0; i < user.length; i++ ) { %>
        <tr>
            <td>
                <%= user[i].username %>
            </td>
            <td>
                <%= user[i].email %>
            </td>
            <td><i class="material-icons">edit</i></td>
            <td onclick="location.href='/admin/userManage/delete?id=<%= user[i].id %>'"><i class="material-icons">delete</i></td>
        </tr>
    <% } %>
</tbody>