<form action="/loginProcess" method="post" class="loginForm">
    <input type="text" name="username" id="username" placeholder="Username"
        value="<% if (typeof username !=='undefined') { %><%- username %><% } %>" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <% if (typeof error !=='undefined' ) { %>
        <p class="loginErrMsg">
            <%- error %>
        </p>
        <% } %>
            <a href="">Forget password or username?</a>
            <div class="loginBtn">
                <input type="submit" value="Login">
                <input type="button" value="Sign Up" onclick="location.href='/signup'">
            </div>
</form>