<form action="/passwordChangeProcess" method="post" class="loginForm" onsubmit="return passwordChangeValidateForm()">
    <input type="text" name="verifyCode" id="verifyCode" placeholder="Code" required>
    <input type="password" name="password" id="password" placeholder="New Password" required>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" required>
    <% if (typeof error !=='undefined' ) { %>
        <p class="loginErrMsg">
            <%- error %>
        </p>
        <% } %>
            <div class="loginBtn">
                <input type="submit" value="Confirm">
            </div>
</form>