<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Admin</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
    <script src="./js/myscript.js"></script>
</head>

<body>
    <div class="home" id="home">
        <!-- Heading -->
        <header class="header" style="box-shadow: none;">
            <%- include('header'); %>
        </header>

    <div class="admin_page">
        <div class="manage_list">
            <table id="manage_userList">
                    <thead>
                        <tr>
                            <th>About Us</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                We are students from VTC.
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</body>

</html>