<header>
    <ul class="headerMenu">
        <div class="logo" onclick="location.href='/'"></div>
        <li class="<% if (typeof title !=='undefined' && title == 'Home') { %>active<% } %>" onclick="location.href='/'">
            <i class="material-icons">home</i>
            <p>Home</p>
        </li>
        <li class="<% if (typeof title !=='undefined' && title == 'KLWP') { %>active<% } %>" onclick="location.href='/klwp'">
            <i class="material-icons">widgets</i>
            <p>KLWP</p>
        </li>
        <li class="<% if (typeof title !=='undefined' && title == 'Help') { %>active<% } %>" onclick="location.href='/help'">
            <i class="material-icons">help</i>
            <p>Help</p>
        </li>
    </ul>
    <ul class="headerIcon">
        <div class="logo" onclick="location.href='/'"></div>
        <li><i class="material-icons">account_circle</i></li>
    </ul>
</header>