<header>
    <ul class="headerMenu">
        <div class="logo" onclick="location.href='/'"></div>
        <li>Home</li>
        <li>Theme</li>
    </ul>
    <ul class="headerIcon">
        <div class="logo" onclick="location.href='/'"></div>
        <li><i class="material-icons">search</i></li>
        <li><i class="material-icons">search</i></li>
    </ul>
</header>