<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme</title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/productStyle.css">
    <link rel="stylesheet" type="text/css" href="./css/headerStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/script.js"></script>
    <script>
        setInterval(checkAccessToken, 5000);
    </script>
</head>

<body>
    <div id="progress-bar" class="progress-bar" style="width: 0;"></div>
    <%- include('index/header') %>
    <div class="page" id="page">
    </div>
</body>

</html>