<div class="themePage">
    <div class="themeList">

        <% for( let i = 0; i < klwp.length; i++ ) { %>
            <div class="themeContainer" onclick='location.href="<%= klwp[i].link %>"'>
                <div class="themeCover" style='background-image: url("<%= klwp[i].image[0] %>");'></div>
                <div class="themeContent">
                    <h1><%= klwp[i].name %></h1>
                    <p><%= klwp[i].author %></p>
                </div>
            </div>
        <% } %>

    </div>
</div>