<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTheme - Login</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="./js/myscript.js"></script>
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
</head>

<body>
    <div class="loginContainer">
        <div class="loginTitle">
            <img class="logoLong" src="../img/logoLong.png" alt="">
        </div>
        <form action="/loginProcess" method="post" class="loginForm">
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <input type="text" name="verifyCode" id="verifyCode">
            <a href="">Forget password or username</a>
        </form>
    </div>
</body>

</html>