<div class="themePage">
    <div class="themeList">

        <% for( let i = 0; i < product.length; i++ ) { %>
            <div class="themeContainer" onclick='location.href="/product/detail/<%= product[i].id %>"'>
                <div class="themeCover" style='background-image: url("<%= product[i].image[0] %>");'></div>
                <div class="themeContent">
                    <p><%= product[i].name %></p>
                    <h1>$<%= product[i].price %></h1>
                </div>
            </div>
        <% } %>

    </div>
</div>