<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Register</title>
    <script src="./js/myscript.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
</head>

<body>
    <header class="header">
        <%- include('header'); %>
    </header>

    <div class="register_page">
        <form action="/registerProcess" id="register_form" method="post">
            <img src="../source/image/logo.svg" alt="">
            <input type="text" id="username" name="username" placeholder="Username" required="required">
            <input type="password" id="password" name="password" placeholder="Password" required="required">
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Sign In</a></p>
        </form>
    </div>
</body>

</html>