<div class="themePage">
    <div class="themeList">

        <% for( let i = 0; i < theme.length; i++ ) { %>
            <div class="themeContainer" onclick='location.href="<%= theme[i].link %>"'>
                <div class="themeCover" style='background-image: url("<%= theme[i].image[0] %>");'></div>
                <div class="themeContent">
                    <h1><%= theme[i].name %></h1>
                    <p><%= theme[i].author %></p>
                </div>
            </div>
        <% } %>

    </div>
</div>