/* Header */
header {
    display: flex;
    padding: 0 var(--pcPadding);
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--pcHeaderHeight);
    background-color: white;
    z-index: 1;
}

header .headerMenu,
header .headerIcon {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .headerMenu li {
    height: 100%;
    padding: 0 var(--pcPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-weight: 500;
}

header .headerIcon li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .headerIcon li i {
    font-size: 30px;
    /* transition: transform 0.3s ease;  */
}

/* header .headerIcon li i:active {
    animation: bounce 1s;
} */

/* @keyframes bounce {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.2);
    }
    60% {
        transform: scale(0.8);
    }
} */

header .logo {
    /* width: 140px; */
    width: 180px;
    height: 35px;
    background-image: url(../img/logoLong.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

header .headerIcon .logo {
    display: none;
}

header .headerIcon {
    margin-left: auto;
}

header .active {
    background-color: black;
}

header .active p,
header .active i {
    color: white;
    display: block;
}

header .headerMenu li .material-icons {
    display: none;
}

@media screen and (max-width: 720px) {
    header {
        padding: 0;
        height: var(--mobileTopHeaderHeight);
    }

    header .headerMenu .logo {
        display: none;
    }

    header .headerIcon .logo {
        display: block;
        margin-right: auto;
    }

    header .headerIcon,
    header .headerMenu {
        position: fixed;
        gap: 0;
    }

    header .headerMenu {
        bottom: 0;
        width: 100vw;
        height: var(--mobileBottomHeaderHeight);
        border-collapse: collapse;
        background-color: white;
        gap: 10px;
        padding: 10px;
    }

    header .headerIcon {
        top: 0;
        right: 0;
        padding: 0 calc(var(--mobilePadding));
        width: 100vw;
        height: calc(var(--mobileTopHeaderHeight));
        background-color: rgb(255, 255, 255);
        border-bottom: solid 1px var(--headerBottomLineColor);
    }

    header .headerMenu li {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(var(--mobilePadding) * 0.1);
        border-radius: 10px;
    }

    header .headerIcon li {
        height: 100%;
    }

    header .headerMenu li .material-icons {
        display: block;
        font-size: calc(var(--mobileTextISize) * 1.5);
        transition-duration: .3s;
    }

    header .headerMenu li:active .material-icons,
    header .headerMenu li:active p {
        transform: scale(0.8);
    }

    header .headerIcon li i {
        font-size: calc(var(--mobileTextISize) * 2.6);
    }


    header .headerMenu li p {
        transition-duration: .3s;
        font-size: calc(var(--mobileTextPSize) * 0.8);
    }
}