/* Management Page */
.manageTable {
    width: calc(100% - var(--pcPadding) * 2);
    border-collapse: separate;
    border-spacing: 0 var(--pcPadding);
}

.manageTable td:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

.manageTable td:nth-last-child(1) {
    border-radius: 0 15px 15px 0;
}

.manageTable td,
.manageTable th {
    padding: var(--pcPadding);
    word-break: break-all;
    border-bottom: solid 1px var(--thirdLevelBackgroundColor);
    text-align: left;
    background-color: var(--firstLevelBackgroundColor);
    font-size: var(--pcTextPSize);
    width: 100%;
}

.manageTable td i {
    font-size: var(--pcTextPSize);
}

.manageTable td:nth-last-child(1),
.manageTable th:nth-last-child(1) {
    text-align: center;
}

.userManageTd1,
.productManageTd1 {
    display: flex;
    width: calc(50px + var(--pcPadding) * 2);
    flex-direction: column;
    align-items: center;
    gap: calc(var(--pcPadding) * 0.5);
}

.userManageTd1 .userManageTd1Avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--secondLevelBackgroundColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.productManageTd1 .producttManageTd1Cover {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--secondLevelBackgroundColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.manageTable .manageDataContainer {
    padding: 0;
}

.manageTable .manageDataContainer .manageData {
    padding: var(--pcPadding) 0;
    display: flex;
    flex-direction: row;
    gap: var(--pcPadding);
    align-items: center;
    text-transform: uppercase;
}

.manageTable .manageDataContainer span {
    background-color: var(--secondLevelBackgroundColor);
    padding: var(--pcPadding);
    border-radius: 10px;
    font-size: calc(var(--pcTextSpanSize) * 0.8);
    font-weight: 500;
    width: 18vw;
    text-align: center;
}

.adminUpdateForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--pcPadding);
    margin-top: var(--pcPadding);
    gap: var(--pcPadding);
    background-color: var(--firstLevelBackgroundColor);
}

.adminUpdateForm p {
    color: var(--secondLevelColor);
    font-size: var(--pcTextPSize);
}

.adminUpdateForm input {
    border: none;
    padding: var(--pcPadding);
    border-radius: 10px;
}

.adminUpdateForm input[type="text"],
.adminUpdateForm input[type="email"] {
    background-color: var(--inputBackgroundColor);
}

.adminUpdateForm input[type="submit"] {
    background-color: var(--firstLevelColor);
    color: var(--firstLevelBackgroundColor);
}

@media screen and (max-width: 720px) {
    .manageTable {
        width: calc(100% - var(--mobilePadding) * 2);
        border-spacing: 0 var(--mobilePadding);
    }

    .manageTable td,
    .manageTable th {
        padding: var(--mobilePadding);
        font-size: var(--mobileTextPSize);
    }

    .manageTable td i {
        font-size: var(--mobileTextPSize);
    }

    .userManageTd1,
    .productManageTd1 {
        width: calc(50px + var(--mobilePadding) * 2);
        gap: calc(var(--mobilePadding) * 0.5);
    }

    .manageTable .manageDataContainer .manageData {
        padding: calc(var(--mobilePadding) * 0.2) 0;
        gap: calc(var(--mobilePadding) * 0.5);
    }

    .manageTable .manageDataContainer span {
        padding: calc(var(--mobilePadding) * 0.3);
        font-size: calc(var(--mobileTextSpanSize) * 0.8);
    }

    .adminUpdateForm {
        padding: var(--mobilePadding);
        margin-top: var(--mobilePadding);
        gap: var(--mobilePadding);
    }

    .adminUpdateForm p {
        font-size: var(--mobileTextPSize);
    }

    .adminUpdateForm input {
        padding: calc(var(--mobilePadding) * 0.5);
    }
}