/* Management Page */
.manageTable {
    width: calc(100% - var(--pcPadding) * 2);
    border-collapse: separate;
    border-spacing: 0 var(--pcPadding);
}

.manageTable td:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

.manageTable td:nth-last-child(1) {
    border-radius: 0 15px 15px 0;
}

.manageTable td,
.manageTable th {
    padding: var(--pcPadding);
    word-break: break-all;
    border-bottom: solid 1px var(--thirdLevelBackgroundColor);
    text-align: left;
    background-color: var(--firstLevelBackgroundColor);
    font-size: var(--pcTextPSize);
}

.manageTable td i {
    font-size: var(--pcTextPSize);
}

.manageTable td:nth-last-child(1),
.manageTable td:nth-last-child(2),
.manageTable th:nth-last-child(1),
.manageTable th:nth-last-child(2)  {
    text-align: center;
}



@media screen and (max-width: 720px) {
    .manageTable {
        width: calc(100% - var(--mobilePadding) * 2);
        border-spacing: 0 var(--mobilePadding);
    }

    .manageTable td,
    .manageTable th {
        padding: var(--mobilePadding);
        font-size: var(--mobileTextPSize);
    }

    .manageTable td i {
        font-size: var(--mobileTextPSize);
    }
}