/* Personal Center Page */
.personalCenterHeader {
    width: 100%;
    height: var(--pcHeaderHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
}

.personalCenterHeader i {
    position: absolute;
    left: var(--pcPadding);
    font-size: var(--pcTextISize);
}

.personalCenterHeader h1 {
    font-size: var(--pcTextH1Size);
}

.personalCenterPage {
    width: 100vw;
    height: calc(100vh - var(--pcHeaderHeight));
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

.personalCenterProfile {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.personalCenterAvatar {
    width: 20vw;
    height: 20vw;
    background-color: var(--secondLevelBackgroundColor);
    border-radius: 100px;
    margin: var(--pcPadding);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personalCenterInform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--pcPadding);
}

.personalCenterInform>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--pcPadding));
}

.personalCenterInform h1 {
    font-size: calc(var(--pcTextH1Size));
}

.personalCenterInform p {
    font-size: calc(var(--pcTextPSize));
    font-weight: 500;
}

.personalCenterInform i {
    font-size: calc(var(--pcTextISize));
}

.personalCenterFeatureList {
    width: 100%;
    margin-top: var(--pcPadding);
    background-color: white;
}

.personalCenterFeatureList hr {
    height: 0;
    border: none;
    margin: 0 var(--pcPadding);
    border-top: 0.5px solid var(--secondLevelColor);
    opacity: 0.3;
}

.personalCenterFeatureContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--pcPadding) * 0.5);
    padding: var(--pcPadding);
    background-color: var(--firstLevelBackgroundColor);
}

.personalCenterFeatureContainer i {
    color: var(--secondLevelColor);
    font-size: var(--pcTextISize);
}

.personalCenterFeatureContainer p {
    color: var(--firstLevelColor);
    font-weight: 500;
}

.personalCenterFeatureGo {
    margin-left: auto;
}

.personalCenterProfileAvatarContainer {
    width: 100%;
    background-color: var(--firstLevelBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--pcPadding));
    padding: calc(var(--pcPadding));
}

.personalCenterProfileAvatar {
    width: 25vw;
    height: 25vw;
    border-radius: 100px;
    background-color: var(--secondLevelBackgroundColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personalCenterProfileAvatarContainer p {
    font-weight: 500;
    font-size: var(--pcTextPSize);
    color: var(--secondLevelColor);
}

.personalCenterProfileFeatureTitle {
    color: var(--secondLevelColor);
    font-size: var(--pcTextH1Size);
}

.usernameChangeForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--pcPadding);
    gap: var(--pcPadding);
}

.usernameChangeForm input {
    padding: var(--pcPadding);
    border-radius: 10px;
    border: none;
}

.usernameChangeForm input[type = "text"] {
    background-color: var(--thirdLevelBackgroundColor);
}

.usernameChangeForm input[type = "submit"] {
    background-color: var(--firstLevelColor);
    color: var(--firstLevelBackgroundColor);
}

@media screen and (max-width: 720px) {
    .personalCenterHeader {
        height: var(--mobileTopHeaderHeight);
    }

    .personalCenterHeader i {
        left: var(--mobilePadding);
        font-size: calc(var(--mobileTextISize) * 1.5);
    }
    
    .personalCenterHeader h1 {
        font-size: calc(var(--mobileTextISize) * 1.5);
    }

    .personalCenterPage {
        height: calc(100vh - var(--mobileTopHeaderHeight));
    }

    .personalCenterAvatar {
        margin: var(--mobilePadding);
    }

    .personalCenterInform {
        gap: calc(var(--mobilePadding) * 0.4);
    }

    .personalCenterInform>div {
        gap: calc(var(--mobilePadding) * 0.5);
    }

    .personalCenterInform h1 {
        font-size: calc(var(--mobileTextH1Size) * 1.3);
    }

    .personalCenterInform p {
        font-size: calc(var(--mobileTextPSize) * 1.1);
    }

    .personalCenterInform i {
        font-size: calc(var(--mobileTextISize) * 1.3);
    }

    .personalCenterFeatureList {
        margin-top: var(--mobilePadding);
    }

    .personalCenterFeatureContainer {
        gap: calc(var(--mobilePadding) * 0.5);
        padding: var(--mobilePadding);
    }

    .personalCenterFeatureContainer i {
        color: var(--secondLevelColor);
        font-size: calc(var(--mobileTextISize) * 1.3);
    }

    .personalCenterFeatureContainer p {
        font-size: calc(var(--mobileTextPSize) * 1.1);
    }

    .personalCenterFeatureList hr {
        margin: 0 var(--mobilePadding);
    }

    .personalCenterProfileAvatarContainer {
        padding: calc(var(--mobilePadding));
        gap: calc(var(--mobilePadding));
    }

    .personalCenterProfileAvatarContainer p {
        font-weight: 500;
        font-size: calc(var(--mobileTextPSize) * 1.1);
    }

    .personalCenterProfileFeatureTitle {
        font-size: calc(var(--mobileTextH1Size) * 1.1);
        width: 20vw;
    }

    .usernameChangeForm {
        padding: var(--mobilePadding);
        gap: var(--mobilePadding);
    }

    .usernameChangeForm input {
        padding: calc(var(--mobilePadding) * 0.5);
    }
}