/* product Page */
.productPage {
    width: 100vw;
    padding: var(--pcPadding);
}

.productList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: var(--pcPadding);
}

.productContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.productCover {
    width: calc(((100vw - var(--pcPadding) * 2) - 4 * var(--pcPadding)) / 5);
    height: calc(((100vw - var(--pcPadding) * 2) - 4 * var(--pcPadding)) / 5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.productContent {
    width: 100%;
    background-color: black;
    padding: var(--pcPadding);
    display: flex;
    flex-direction: column;
    gap: calc(var(--pcPadding) * 0.5);
}

.productContent h1,
.productContent strong {
    color: white;
}

.productContent h1 {
    font-size: var(--pcTextH1Size);
}

.productContent strong {
    font-size: calc(var(--pcTextStrongSize) * 1.5);
    font-style: italic;
}

@media screen and (max-width: 720px) {
    .productPage {
        padding: var(--mobilePadding);
    }

    .productList {
        gap: var(--mobilePadding);
    }

    .productCover {
        width: calc(((100vw - var(--mobilePadding) * 2) - 1 * var(--mobilePadding)) / 2);
        height: calc(((100vw - var(--mobilePadding) * 2) - 1 * var(--mobilePadding)) / 2);
    }

    .productContent {
        gap: calc(var(--mobilePadding) * 0.5);
        padding: calc(var(--mobilePadding) * 0.7);
    }

    .productContent h1 {
        font-size: calc(var(--mobileTextH1Size) * 1.3);
        font-weight: 500;
    }

    .productContent strong {
        font-size: calc(var(--mobileTextStrongSize) * 1.4);
        font-weight: 900;
    }

}