@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
}

h1,
h2,
p,
a,
div,
input,
label,
span,
ul,
li,
strong,
button {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

:root {
    --pcPadding: 1.5vw;
    --pcHeaderHight: 80px;
    --pcTextH1Size: 18px;
    --pcTextH2Size: 15px;
    --pcTextPSize: 13px;
    --pcTextASize: 13px;
    --pcTextSpanSize: 13px;
    --pcTextStrongSize: 13px;

    --mobilePadding: 5vw;
    --mobileBottomHeaderHeight: 55px;
    --mobileTopHeaderHeight: 75px;
    --mobileTextH1Size: 12px;
    --mobileTextH2Size: 12px;
    --mobileTextPSize: 12px;
    --mobileTextASize: 12px;
    --mobileTextISize: 12px;
    --mobileTextStrongSize: 12px;
}

.hidden {
    display: none;
}

/* Page */
.page {
    width: 100vw;
    padding: var(--pcHeaderHight) var(--pcPadding) 0 var(--pcPadding);
    overflow: auto;
}

/* Home Page */
.homePage {
    width: 100%;
    height: calc(100vh - var(--pcHeaderHight));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pcPadding);
    flex-direction: column;
}

.homePage .logo {
    background-image: url(../img/logo.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.homePage h1 {
    font-size: var(--pcTextH1Size);
}

.homePage p {
    font-size: var(--pcTextPSize);
}

@media screen and (max-width: 1324px) {}

@media screen and (max-width: 720px) {
    /* Page */
    .page {
        padding: var(--mobileTopHeaderHeight) var(--mobilePadding) var(--mobileBottomHeaderHeight) var(--mobilePadding);
    }

    /* Home Page */
    .homePage {
        height: calc(100vh - var(--mobileBottomHeaderHeight) - var(--mobileTopHeaderHeight));
    }

    .homePage h1 {
        font-size: var(--mobileTextH1Size);
    }

    .homePage p {
        font-size: var(--mobileTextPSize);
    }

}