@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
}

h1,
h2,
p,
a,
div,
input,
label,
span,
ul,
li,
strong,
button {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: #0000001a;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

:root {
    --pcPadding: 1.5vw;
    --pcHeaderHight: 80px;
    --pcTextH1Size: 18px;
    --pcTextH2Size: 15px;
    --pcTextPSize: 13px;
    --pcTextASize: 13px;
    --pcTextSpanSize: 13px;
    --pcTextStrongSize: 13px;

    --mobilePadding: 5vw;
    --mobileBottomHeaderHeight: 55px;
    --mobileTopHeaderHeight: 75px;
    --mobileTextH1Size: 12px;
    --mobileTextH2Size: 12px;
    --mobileTextPSize: 12px;
    --mobileTextASize: 12px;
    --mobileTextISize: 12px;
    --mobileTextStrongSize: 12px;
}

.hidden {
    display: none;
}

/* Header */
header {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 0 var(--pcPadding);
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--pcHeaderHight);
    background-color: white;
    z-index: 100;
}

header .headerMenu,
header .headerIcon {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .headerMenu li {
    height: 100%;
    padding: 0 var(--pcPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

header .headerIcon li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .logo {
    /* width: 140px; */
    width: 180px;
    height: 35px;
    background-image: url(../img/logoLong.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

header .headerIcon .logo {
    display: none;
}

header .headerIcon {
    margin-left: auto;
}

header .active {
    background-color: black;
}

header .active p,
header .active i {
    color: white;
    display: block;
}

header .headerMenu li .material-icons {
    display: none;
}

/* Page */
.page {
    width: 100vw;
    padding: var(--pcHeaderHight) var(--pcPadding) 0 var(--pcPadding);
    overflow: auto;
}

/* Home Page */
.homePage {
    width: 100%;
    height: calc(100vh - var(--pcHeaderHight));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pcPadding);
    flex-direction: column;
}

.homePage .logo {
    background-image: url(../img/logo.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.homePage h1 {
    font-size: var(--pcTextH1Size);
}

.homePage p {
    font-size: var(--pcTextPSize);
}

/* Alert Window */
.alertWindow {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
}

.alertContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    gap: var(--pcPadding);
    padding: var(--pcPadding);
    background-color: white;
}

.alertContainer>h1 {
    font-size: var(--pcTextH1Size);
}

.alertContainer>p {
    font-size: var(--pcTextPSize);
}

.alertContainer>button {
    width: fit-content;
    margin-left: auto;
    padding: calc(var(--pcPadding) * 0.5) var(--pcPadding);
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

@media screen and (max-width: 1324px) {}

@media screen and (max-width: 720px) {
    /* Header */
    header {
        padding: 0;
        height: var(--mobileTopHeaderHeight);
    }

    header .headerMenu .logo {
        display: none;
    }

    header .headerIcon .logo {
        display: block;
        margin-right: auto;
    }

    header .headerIcon,
    header .headerMenu {
        position: fixed;
        gap: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    header .headerMenu {
        bottom: 0;
        width: 100vw;
        height: var(--mobileBottomHeaderHeight);
        border-collapse: collapse;
        background-color: white;
    }

    header .headerIcon {
        top: 0;
        right: 0;
        padding: 0 var(--mobilePadding);
        width: 100vw;
        height: calc(var(--mobileTopHeaderHeight));
        background-color: rgb(255, 255, 255);
    }

    header .headerMenu li {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .headerIcon li {
        height: 100%;
        width: 50px;
    }

    header .headerMenu li .material-icons {
        display: block;
        font-size: var(--mobileTextISize);
    }

    header .headerIcon li i {
        font-size: var(--mobileTextISize);
    }

    header .headerMenu li p {
        font-size: var(--mobileTextPSize);
    }

    /* Page */
    .page {
        padding: var(--mobileTopHeaderHeight) var(--mobilePadding) var(--mobileBottomHeaderHeight) var(--mobilePadding);
    }

    /* Home Page */
    .homePage {
        height: calc(100vh - var(--mobileBottomHeaderHeight) - var(--mobileTopHeaderHeight));
    }

    /* Alert Window */
    .alertContainer {
        width: 80%;
    }

}