<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Login</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
</head>

<body>
    <header class="header">
        <%- include('../header'); %>
    </header>

    <div class="login_page">
        <form action="/updatePasswordProcess" id="login_form" method="post">
            <img src="../source/image/logo.svg" alt="">
            <input type="password" id="new_password" name="new_password" placeholder="New Password">
            <input type="password" id="repeat_password" name="repeat_password" placeholder="Repeat New Password">
            <span id="password_error" style="color: red; font-size: 15px;"></span>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('login_form');
        const newPasswordInput = document.getElementById('new_password');
        const repeatPasswordInput = document.getElementById('repeat_password');
        const passwordError = document.getElementById('password_error');

        form.addEventListener('submit', (event) => {
            if (newPasswordInput.value !== repeatPasswordInput.value) {
                event.preventDefault();
                passwordError.textContent = 'Passwords do not match.';
            }
        });
    </script>
</body>

</html>