<header>
    <ul class="headerMenu">
        <div class="logo" onclick="location.href='/'"></div>
        <li id="homeBtn" onclick="loadPage('home')">
            <i class="material-icons">home</i>
            <p>Home</p>
        </li>
        <li id="productBtn" onclick="loadPage('product')">
            <i class="material-icons">widgets</i>
            <p>Product</p>
        </li>
        <li id="helpBtn" onclick="loadPage('help')">
            <i class="material-icons">help</i>
            <p>Help</p>
        </li>
        <li id="personalCenterBtn" onclick="loadPage('personalCenter')">
            <i class="material-icons">account_circle</i>
            <p>Me</p>
        </li>
    </ul>
    <ul class="headerIcon">
        <div class="logo" onclick="location.href='/'"></div>
        <li><i class="material-icons" onclick="location.href='/personalCenter'">account_circle</i></li>
    </ul>
</header>