<div class="productPage">
    <div class="productList">

        <% for( let i = 0; i < product.length; i++ ) { %>
            <div class="productContainer" onclick='location.href="/product/detail/<%= product[i].id %>"'>
                <div class="productCover" style='background-image: url("<%= product[i].image[0] %>");'></div>
                <div class="productContent">
                    <h1><%= product[i].name %></h1>
                    <strong>$ <%= product[i].price %></strong>
                </div>
            </div>
        <% } %>

    </div>
</div>