<div class="productMenuData">
    <h2>Product Detail</h2>

    <div class="productDetailRequirement">
        <h2>Requirement</h2>
        <table>
            <% Object.keys(productData.requirement).forEach(function(key) { %>
                <tr>
                    <th><%= key %></th>
                    <td><%= productData.requirement[key] %></td>
                </tr>
            <% }); %>
        </table>
    </div>
    <article>
        <% for( let j = 0; j < productData.article.length; j++ ) { %>
            <img src="../<%= productData.article[j] %>" alt="">
        <% } %>
    </article>

</div>