<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme</title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/personalCenterStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/manageStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/headerStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/script.js"></script>
</head>
<body>
    <table class="manageTable">
        <% if ( title == "User Manage" ) { %>
            <%- include('management/user') %>
        <% } else if ( title == "Product Manage" ) { %>
            <%- include('management/product') %>
        <% } else if ( title == "Comment Manage" ) { %>
            <%- include('management/comment') %>
        <% } %>
        </table>
</body>
</html>