<div class="personalCenterFeatureContainer" onclick="location.href='/admin/userManage'">
    <i class="material-icons">people</i>
    <p>User Manage</p>
    <i class="material-icons personalCenterFeatureGo">navigate_next</i>
</div>
<hr>
<div class="personalCenterFeatureContainer" onclick="location.href='/admin/productManage'">
    <i class="material-icons">inventory_2</i>
    <p>Product Manage</p>
    <i class="material-icons personalCenterFeatureGo">navigate_next</i>
</div>
<hr>
<div class="personalCenterFeatureContainer" onclick="location.href='/admin/commentManage'">
    <i class="material-icons">question_answer</i>
    <p>Comment Manage</p>
    <i class="material-icons personalCenterFeatureGo">navigate_next</i>
</div>