<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme - <%= title %></title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/loginSignupStyle.css">
    <script src="./js/myscript.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="loginContainer">
        <div class="loginTitle">
            <div class="logoLong" alt="logoLong" onclick="location.href='/'"></div>
            <h1><%= message %></h1>
        </div>
        <form action="/signupProcess" method="post" class="loginForm">
            <input type="text" name="verifyCode" id="verifyCode" placeholder="Code" required>
            <% if (typeof error !=='undefined') { %>
                <p class="loginErrMsg">
                    <%- error %>
                </p>
            <% } %>
            <div class="loginBtn">
                <input type="submit" value="Verify">
            </div>
        </form>
    </div>
</body>

</html>