<div class="personalCenterProfileAvatarContainer">
    <div class="personalCenterProfileAvatar" style="background-image: url('<%= useravatar %>');"></div>
    <p>Click here to change</p>
</div>
<!--  -->
<div class="personalCenterFeatureList">

    <div class="personalCenterFeatureContainer" onclick="location.href='/personalCenter/usernameChange'">
        <h1 class="personalCenterProfileFeatureTitle">Username</h1>
        <p>
            <%= username %>
        </p>
        <i class="material-icons personalCenterFeatureGo">navigate_next</i>
    </div>
    <hr>
    <!-- <div class="personalCenterFeatureContainer" onclick="location.href='/usernameChange'">
                    <h1 class="personalCenterProfileFeatureTitle">Gender</h1>
                    <p>Male</p>
                    <i class="material-icons personalCenterFeatureGo">navigate_next</i>
                </div> -->
</div>