<% for( let i = 0; i < commentData.length; i++ ) { %>
    <div class="CommentContainer">
        <div class="CommentAvatar">
            <img src="<%= commentData[i].avatar %>" alt="avatar">
        </div>
        <div class="CommentContent">
            <div class="CommentData">
                <h1><%= commentData[i].username %></h1>
                <p><%= commentData[i].createdAt %></p>
            </div>
            <p><%= commentData[i].content %></p>
        </div>
    </div>
<% } %>
