<% for( let i = 0; i < 5; i++ ) { %>
    <div class="CommentContainer">
        <div class="CommentAvatar">
            <img src="" alt="avatar">
        </div>
        <div class="CommentContent">
            <div class="CommentData">
                <h1>MoRan</h1>
                <p>2024-08-24</p>
            </div>
            <p>Content</p>
        </div>
    </div>
<% } %>
